// Styling for the jugadores section
#jugadores, #jugadoras{
  background-image: url('../img/header-bg.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
  .foto {
	width: 250px;
  }
  .jugadores-item {
    right: 0;
    margin: 7px;
	.foto {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		max-height:300px; 
		object-fit: contain;
	}
    .jugadores-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      .jugadores-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($primary, .1);
        &:hover {
          opacity: 1;
        }
        .jugadores-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .jugadores-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: $white;
      h4 {
        margin: 0;
        text-transform: none;
      }
      p {
		text-align: left;
        font-size: 15px;
        font-style: italic;
        margin: 0;
        @include serif-font;
      }
    }
  }
  * {
    z-index: 2;
 }
}
@media(min-width:767px) {
  #jugadores, #jugadoras {
    .jugadores-item {
      margin: 0 0 30px;
    }
  }
}
.section-heading {
  padding-top: 10px;
  color: $primary;
}

.card-header {
  color: #DDDDDD;
  background-color: $primary;
}

.card {
	background-color: #EEE;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trayectoria {
	margin: 15px;
}
.close {
	font-size: 30pt;
}