// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
	margin: 0 20px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 30px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
  .imagen {
	min-height: 491px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  #imagen1 {
    background-image: url('../img/header-bg.jpg');
  }
  #imagen2 {
    background-image: url('../img/jeffrey-f-lin-673417-unsplash.jpg');
    background-position: center top;
  }
  #imagen3 {
    background-image: url('../img/ff2.jpg');
    color: #c00000090;
  }
  #imagen4 {
    background-image: url('../img/ff3.jpg');
    color: #c08d31;
  }
  #imagen5 {
    background-image: url('../img/ff4.jpg');
    color: #c08d31;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
	margin: 0 20px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 30px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
  
 
  }
@media(min-width:768px) {
  header.masthead {
	.intro-text {
	  padding-top: 300px;
	  padding-bottom: 200px;
	  margin: 0 20px;
	  .intro-lead-in {
		font-size: 40px;
		font-style: italic;
		line-height: 40px;
		margin-bottom: 25px;
		@include serif-font;
	  }
	  .intro-heading {
		font-size: 75px;
		font-weight: 700;
		line-height: 75px;
		margin-bottom: 0px;
		@include heading-font;
	  }
	}
    .imagen {
	  min-height: 765px;
	}
  }
}
