// Styling for the team section
#equipo {
	hr {
		border: 1px solid #b19263;
		width: 80%
	}
}
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 225px;
    height: 225px;
    border: 7px solid $white;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}

.componente_cabecera {
  font-color: #FFFFFF;
  background-color: $primary;
  padding-top: 5px;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}


.componente {
    padding-top: 35px;
	border: 1px solid;
	background-color: #EEE;
}
