  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; soccerintagents.com 2020</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a target="_blank" href="https://www.instagram.com/soccer_international_agents/?hl=es">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://twitter.com/soccerintagents">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" href="https://www.facebook.com/Soccer-International-Agents-2288302614566644/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
			  <a data-toggle="modal" href="#avisoModal" onclick="$('#avisoCuerpo').load('{{ include.relativo }}aviso.html');">Aviso Legal </a>
            </li>
            <li class="list-inline-item">
              <a data-toggle="modal" href="#proteccionModal" onclick="$('#proteccionCuerpo').load('{{ include.relativo }}proteccion.html');"> Protección de datos </a>
            </li>
            <li class="list-inline-item">
              <a data-toggle="modal" href="#cookiesModal" onclick="$('#cookiesCuerpo').load('{{ include.relativo }}cookies.html');"> Cookies </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
	
  <!-- Modal Aviso -->
  <div class="modal fade" id="avisoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body" id="avisoCuerpo">
			  ...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Protección -->
  <div class="modal fade" id="proteccionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body" id="proteccionCuerpo">
				***
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Cookies -->
  <div class="modal fade" id="cookiesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body" id="cookiesCuerpo">
				***
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="cajacookies" style="display: none">
	<p>Esta web utiliza cookies para mejorar tu navegación. Si continúas navegando estás dando tu consentimiento y consideramos que aceptas su uso.<BR>              <a data-toggle="modal" href="#cookiesModal" onclick="$('#cookiesCuerpo').load('cookies.html');">Más información</a>.<BR>
<button onclick="aceptarCookies()" class="btn btn-primary btn-xl text-uppercase">Aceptar y cerrar éste mensaje</button>
</div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ include.relativo }}vendor/jquery/jquery.min.js"></script>
  <script src="{{ include.relativo }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ include.relativo }}vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="{{ include.relativo }}js/jqBootstrapValidation.js"></script>
  <script src="{{ include.relativo }}js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ include.relativo }}js/agency.min.js"></script>

<script>
function compruebaAceptaCookies() {
//localStorage.removeItem("aceptaCookies");
  if(!localStorage.aceptaCookies){
    cajacookies.style.display = '';
  }
}

function aceptarCookies() {
  localStorage.aceptaCookies = 'true';
  cajacookies.style.display = 'none';
}

$(document).ready(function () {
  compruebaAceptaCookies();
});
</script>
		
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143251292-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143251292-1');
</script>

</footer>

