<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.descripcion }}">
  <meta name="author" content="">

  <title>{{ site.titulo }}</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--link rel="shortcut icon" type="image/x-icon" href="favicon.png"-->
  
  <!-- Custom styles for this template -->
  <link href="css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

  {% include menu.html %}

  <!-- jugadoras Grid -->
  <section class="bg-light" id="jugadoras">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Jugadoras</h2>
        </div>
      </div>
      <div class="row">

{% assign jugadoras_ordenados = site.jugadoras | sort:"posicion" %}
{% assign ctr = 0 %}
{% for jugadora in jugadoras_ordenados %}
{% assign nombre_completo = jugadora.nombre | append: " " | append: jugadora.apellidos %}
{% assign impar = jugadora.posicion | modulo:2 %}
{% assign ctr = ctr | plus:1 %}
<div class="col-md-4 col-sm-4 jugadores-item">
	<div class="card" style="width: 18rem;" onclick="window.location='{{jugadora.url}}'">
	  <a class="jugadores-link" href="{{jugadora.url}}">
		<div class="jugadores-hover">
		  <div class="jugadores-hover-content">
			<i class="fas fa-plus fa-3x"></i>
		  </div>
		</div>
		<img class="card-img-top" src="img/jugadoras/{{ jugadora.foto }}" alt="{{ nombre_completo }}">
	  </a>
	  <div class="card-body">
        <h6 class="card-title">{{ nombre_completo }}</h6>
		<p class="card-text">
            <p class="text-muted ">
			<B>Nacionalidad:</B> {{ jugadora.nacionalidad }}<BR>
			<B>Demarcación:</B> {{ jugadora.demarcacion }}<BR>
			<B>Equipo Actual:</B> {{ jugadora.equipo_actual }}<BR>
			{% assign fnac = jugadora.fecha_de_nacimiento | date: '%s' %}
			{% assign nowTimestamp = 'now' | date: '%s' %}
			{% assign diffSeconds = nowTimestamp | minus: fnac %}
			{% assign edad = diffSeconds | divided_by: 3600 | divided_by: 24 | divided_by: 365 %}
			<B>Edad: </B>{{ edad }} años<BR>
			</p>
          </div>
        </div>
	</div>
{% endfor %}		
      </div>
    </div>
  </section>
  
  

{% include pie.html %}


</body>

</html>