<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.descripcion }}">
  <meta name="author" content="">

  <title>{{ site.titulo }}</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>


  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!--link rel="shortcut icon" type="image/x-icon" href="favicon.png"-->
  
  <!-- Custom styles for this template -->
  <link href="css/agency.css" rel="stylesheet">

</head>

<body id="page-top">

  {% include menu.html %}

  <!-- Header -->
  <header class="masthead">
  <!--div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">No te quedes donde estás</div>
        <div class="intro-heading text-uppercase">Sácale partido a tu potencial</div>
      </div>
    </div-->

<!--Test-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        <div id="imagen1" class="carousel-item active imagen" honclick="window.location='jugadores.html';">
			<div class="container">
			  <div class="intro-text">
				<div class="intro-lead-in">No te quedes donde estás</div>
				<div class="intro-heading text-uppercase">Exprime tu potencial con nosotros</div>
			  </div>
			</div>
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div id="imagen2" class="carousel-item imagen" honclick="window.location='jugadoras.html';">
			<div class="container">
			  <div class="intro-text">
				<div class="intro-lead-in">Fútbol femenino</div>
				<div class="intro-heading text-uppercase">Inicia el viaje<BR>hacia tu éxito</div>
			  </div>
			</div>
        </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
   </header>
   
  <!-- Services -->
  <section id="servicios">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Servicios</h2>
          <h3 class="section-subheading text-muted">{{ page.servicios }}</h3>
        </div>
      </div>
      <div class="row text-center">
	  
{% assign servicios_ordenados = site.servicios | sort:"posicion" %}
{% assign ctr = 0 %}
{% for servicio in servicios_ordenados %}
{% assign impar = servicio.posicion | modulo:2 %}
{% assign ctr = ctr | plus:1 %}
	  
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas {{ servicio.icono }} fa-stack-1x"></i>
          </span>
          <h4 class="service-heading">{{ servicio.servicio }}</h4>
          <p class="text-muted">{{ servicio.descripcion }}</p>
        </div>

{% endfor %}

      </div>
    </div>
  </section>

  <!-- Equipo -->
  <section class="bg-light" id="equipo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Nuestro equipo</h2>
        </div>
	  </div>
      <div class="row componente_cabecera">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Dirección ejecutiva</h3>
        </div>
      </div>
      <div class="row text-center componente">
		{% assign equipo_ordenado = site.equipo | sort:"posicion" | where: "CEO", "true" %}
		{% assign ctr = 0 %}
		{% for componente in equipo_ordenado %}
			{% include componenteEquipo.html componente=componente%}
		{% endfor %}		
      </div>
	  <BR/>
	  <!-- Fútbol Femenino -->
	  {% assign equipo_ordenado = site.equipo | sort:"posicion" | where: "seccion", "Fútbol Femenino" %}
      <div class="row componente_cabecera">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Fútbol Femenino</h3>
        </div>
      </div>
      <div class="row text-center componente">
		{% assign ctr = 0 %}
		{% for componente in equipo_ordenado %}
			{% include componenteEquipo.html componente=componente%}
		{% endfor %}		
      </div>
	  <BR/>
	  <!-- Intermediarios -->
	  {% assign equipo_ordenado = site.equipo | sort:"posicion" | where: "seccion", "Intermediarios" %}
      <div class="row componente_cabecera">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Intermediación</h3>
        </div>
      </div>
      <div class="row text-center componente">
		{% assign ctr = 0 %}
		{% for componente in equipo_ordenado %}
			{% include componenteEquipo.html componente=componente%}
		{% endfor %}		
      </div>
	  <BR/>
	  <!-- Fútbol Base -->
	  {% assign equipo_ordenado = site.equipo | sort:"posicion" | where: "seccion", "Fútbol Base" %}
      <div class="row componente_cabecera">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Fútbol Base</h3>
        </div>
      </div>
      <div class="row text-center componente">
		{% assign ctr = 0 %}
		{% for componente in equipo_ordenado %}
			{% include componenteEquipo.html componente=componente%}
		{% endfor %}		
      </div>
	  <BR/>
	  <!-- Scouting -->
	  {% assign equipo_ordenado = site.equipo | sort:"posicion" | where: "seccion", "Scouting" %}
      <div class="row componente_cabecera">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Departamento Jurídico</h3>
        </div>
      </div>
      <div class="row text-center componente">
		{% assign ctr = 0 %}
		{% for componente in equipo_ordenado %}
			{% include componenteEquipo.html componente=componente%}
		{% endfor %}		
      </div>
	  <BR/>
	  <!-- Departamento Jurídico -->
	  {% assign equipo_ordenado = site.equipo | sort:"posicion" | where: "seccion", "Departamento Jurídico" %}
      <div class="row componente_cabecera">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading">Departamento Jurídico</h3>
        </div>
      </div>
      <div class="row text-center componente">
		{% assign ctr = 0 %}
		{% for componente in equipo_ordenado %}
			{% include componenteEquipo.html componente=componente%}
		{% endfor %}		
      </div>

    </div>
  </section>
  
  <!-- Contact -->
  <section id="contacto">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contacto</h2>
          <h3 class="section-subheading text-muted">¿Te ayudamos? Cuéntanos en que quieres mejorar</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="nombre" type="text" placeholder="Tu nombre *" required="required" data-validation-required-message="Introduce tu nombre.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Tu e-mail *" required="required" data-validation-required-message="Introuce tu correo electrónico.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="telefono" type="tel" placeholder="Tu teléfono *" required="required" data-validation-required-message="Introduce tu número de teléfono.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="mensaje" placeholder="Mensaje *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar mensaje</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  
  {% include pie.html %}

</body>

</html>
